.crud {

    h1 {
        font-size: 2em;
        @apply text-[var(--text-color)];
    }

    h2 {
        font-size: 1.5em;
        @apply text-[var(--text-color)];
    }

    h3 {
        font-size: 1.17em;
        @apply text-[var(--text-color)];
    }

    p {
        font-size: 1em;
        @apply text-black;
    }

    label {
        @apply text-white;
    }

    input {
        @apply text-black;
    }
}

.modal {
    & .modal__dialog {
        @apply overflow-y-scroll;

        & .modal__dialog--title {
            @apply text-black;
        }
    }
}

.formSeasonbA {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "number titleJapanese titleJapanese titleEnglish titleEnglish status"
        "description description description description year seasonYear"
        "type studio studio urlTrailer urlTrailer urlTrailer"
        "image image coverImage coverImage coverImageSecondary coverImageSecondary";

    .form__inputNumber {
        grid-area: number;
    }

    .form__inputTitleJapanese {
        grid-area: titleJapanese;
    }

    .form__inputTitleEnglish {
        grid-area: titleEnglish;

    }

    .form__inputDescription {
        grid-area: description;
    }

    .form__inputYear {
        grid-area: year;
    }

    .form__inputSeasonYear {
        grid-area: seasonYear;
    }

    .form__inputType {
        grid-area: type;
    }

    .form__inputStudio {
        grid-area: studio;
    }

    .form__inputImage {
        grid-area: image;
    }

    .form__inputCoverImage {
        grid-area: coverImage;
    }

    .form__inputCoverImageSecondary {
        grid-area: coverImageSecondary;
    }

    .form__inputUrlTrailer {
        grid-area: urlTrailer;
    }

    .form__CheckboxStatus {
        grid-area: status;
    }
}