h1 {
    font-size: 2em;
    @apply text-[var(--text-color)];
}

h2 {
    font-size: 1.5em;
    @apply text-[var(--text-color)];
}

h3 {
    font-size: 1.17em;
    @apply text-[var(--text-color)];
}

p {
    font-size: 1em;
    @apply text-[var(--text-color)];
}

label {
    @apply text-white;
}

input {
    @apply text-black;
}

// .section-1{
//     @apply w-[95vw] lg:w-[84.5vw] h-[32em]  rounded-md bg-white;

.swiper-carousel-home {
    @apply w-full lg:w-full h-[32em] lg:h-screen rounded-md;

    .swiper-carousel-home__slide {
        @apply h-[32em];

        .swiper-carousel-home__slide--content {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;

            .opacity {
                @apply block md:hidden w-full h-[32em] lg:h-full z-[996] bg-black opacity-70;
                grid-column: 1/3;
                grid-row: 1/2;
            }

            .section-1__description {
                @apply flex justify-start content-center h-[32em] lg:h-full rounded-md z-[997] md:bg-gradient-to-r md:from-black from-5%;
                grid-column: 1/3;
                grid-row: 1/2;

                .section-1__description--content {
                    @apply flex flex-col justify-start items-center gap-4 lg:w-[20em] h-full;
                }

                .title {
                    @apply flex justify-center items-center py-8 lg:p-4;

                    img {
                        @apply w-[75%] lg:w-full;
                    }
                }
            }

            .section-1__img {
                @apply w-full h-[32em] lg:h-full rounded-md z-[995];
                grid-column: 1/3;
                grid-row: 1/2;

                img {
                    @apply w-full h-full object-cover rounded-md;
                }
            }
        }
    }
}



.section-2,
.section-3,
.section-4 {
    @apply h-max p-2 rounded-md;
}

.section-2 {}

.section-3 {}

.section-4 {}