.content {
    @apply w-full h-screen p-2;

    .content__main {
        @apply flex h-[90%] gap-2;

        .aside {
            @apply hidden lg:flex flex-col h-full justify-start items-center gap-5 text-[var(--text-color)] py-2;
        }

        .main-content {
            @apply flex-1 grid h-full gap-2 overflow-y-scroll bg-[var(--bg-container)] rounded-lg;
        }
    }

}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: #626362;
    border-radius: 20px;
}